<!-- followed instruction from https://www.codementor.io/rogargon/simple-django-web-application-tutorial-du107rmn4 -->
{% extends "base.html" %}

{% block content %}
<font face = "palatino">
<h1>
  Game List
  {% if user.is_superuser %}
    (<a href="{% url 'mygames:game_create' %}">Add</a>)
  {% endif %} <br>
</h1>
<a href="{% url 'mygames:game_filter' %}">Search</a>
{% if user.username %}
  <a href="{% url 'mygames:bookmarks' %}">My Favorites</a>
{% endif %}
<ul>
  {% for game in object_list %}
    <li><a href="{% url 'mygames:game_detail' game.id %}">
    {{ game.name }}</a></li>
  {% empty %}<li>Sorry, no games registered yet.</li>
  {% endfor %}
</ul>
</font>
{% endblock %}
